GOOGLE_API_KEY=
GOOGLE_LLM__MODEL=gemini-2.0-flash
GOOGLE_LLM__TEMPERATURE=0.6

CUSTOM_LLM__MODEL=
CUSTOM_LLM__API_BASE=
CUSTOM_LLM__API_KEY=

INTERVIEW_SERVICE_PORT=8001

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_USER=app
MONGODB_PASSWORD=app
MONGODB_AUTH_SOURCE=ai_interview
MONGODB_DB_NAME=ai_interview
MONGODB_CV_ANALYSIS_COLLECTION_NAME=cv_analysis
MONGODB_CV_USER_ID_FIELD=user_id
