POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=
POSTGRES_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USER=
REDIS_USER_PASSWORD=

PUBLIC_KEY=
PRIVATE_KEY=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_CV_ANALYZER_QUEUE_NAME=cv-analyze-stream
RABBITMQ_RESET_PASSWORD_QUEUE_NAME=reset-password-stream
RABBITMQ_TIMEOUT=30

FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password
