S3_ACCESS_KEY=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=
S3_BUCKET_NAME=
S3_REGION_NAME=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_CV_ANALYZER_QUEUE_NAME=
RABBITMQ_TIMEOUT=

MONGODB_HOST=
MONGODB_PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DB_NAME=
MONGODB_CV_ANALYSIS_COLLECTION_NAME=
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=

GOOGLE_API_KEY=
